<?xml version="1.0"?>
<robot name="hook">

  <link name="hook">
    <visual>
      <geometry>
        <mesh filename="package://triple_hook/triple_hook.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://triple_hook/triple_hook.stl"/>
      </geometry>
    </collision>
  </link>

</robot>