<?xml version="1.0"?>
<robot name="starfish">

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://starfish/starfish2_vhacd.dae" scale=".35 .35 .35"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://starfish/starfish2_vhacd.obj" scale=".35 .35 .35" />
      </geometry>
    </collision>
  </link>

</robot>