<?xml version="1.0"?>
<robot name="donut">

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://fish/ring2_vhacd.dae" scale=".1 .1 .1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://fish/ring2_vhacd.OBJ" scale=".1 .1 .1" />
      </geometry>
    </collision>
  </link>

</robot>